@import "tailwindcss";

@theme {
    --color-primary: #1e3a8a;
    --text-color: #111827;
    --color-secondary: #facc15;
    --color-background: #f3f4f6;
    --font-family: 'Inter', sans-serif;
    --header-font-family: 'Poppins', sans-serif;

}